# Python
venv/
__pycache__/
README.md

# Git
.git
.gitignore
.github/
model_repository/
model_cache/

# Repo files
docs/
examples/

# Test Files
tests
.pytest_cache/
custom_model_files/
playspace/