tritonclient[grpc]
open-clip-torch==2.26.1
torch==2.4.1 --extra-index-url https://download.pytorch.org/whl/cpu
torchvision==0.19.1 --extra-index-url https://download.pytorch.org/whl/cpu
pillow
pycurl
fastapi
uvicorn
validators
transformers
sentence_transformers
pydantic
certifi
onnx